*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-image: linear-gradient( rgba(0, 128, 128, 0.5), rgba(0, 0, 0, 0.3)),
    url(img/header_image.avif);
    background-position:top;
    background-size: cover;
    height: 42vh;
    text-align: center;
    color: white;
}

header>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header hgroup h1{
    font-size: 5em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

header hgroup p{
    font-size: 1.3em;
    font-weight: 600;
}

header img{
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    float: right;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 1rem;
}

header a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#intro > article{
    display: flex;
    align-items: center;
    width: 60%;
    padding:4rem
}

#intro article img {
    width:20rem;
    height: 20rem;
}

#intro article hgroup{
    color: rgb(0, 128, 128);
    padding-left: 1rem;
    width: 50%;
}

#intro article hgroup h2{
    text-decoration: underline;
    font-weight: 600;
    margin-left: -4rem;
    margin-bottom: 2rem;
}



#cards{
    display: flex;
    text-align: center;
    width : 100%

}

#cards >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.311);
    width: 50%;
    padding: 2rem;
}

#cards img{
    height: 3rem;
    width: 3rem;
    padding: 1rem;
}

#agencebanner{
    background-image: linear-gradient(rgba(0, 128, 128, 0.5), rgba(0, 0, 0, 0.3)),
    url(img/main_image.avif);
    background-position:center;
    background-size: cover;
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#agencebanner hgroup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 60%;
    padding-left: 40%;
    
}

#agencebanner hgroup h2{
    font-size: 1.7em;
    font-weight: 600;
}

#agencebanner hgroup :not(h2){
    margin-top: 1.5rem;
    margin-left: 3rem;
}


#statsection{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
}

#statsection h2{
    color: rgb(0, 128, 128);
    font-size: 2em;
}

#statsection article{
    display: flex;
    align-items: center;
    width: 70%;
    padding: 2rem;
}

#statsection article hgroup{
    display: flex;
    flex-direction: column;
}

#statsection article > div{
    display: flex;
    width: 45%;
}

#statsection article>hgroup{
    width: 45%;
    margin-left: 3rem;
}

#statsection a{
    background-color:rgb(0, 128, 128);
    text-transform: uppercase;
    padding: .7rem 1rem;
    border-radius: .5rem;
    margin-top: 1rem;
}

.stat{
    padding: 1rem;
    text-align: center;
}

.stat h3{
    color: rgb(0, 51, 102);
    font-size: 2.5em;
    margin-bottom: 1.5rem;
}

footer{
    background-color: #20232a;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding : 5rem
}

footer address{
    width: 25%;
    height: 50%;
    font-style: normal;
    padding-top: 2rem;
}

footer address *{
     display: inline-block;  
}


footer address h2{
    color: rgb(0, 128, 128);
    font-size: 1em;
    text-transform: uppercase;
}

footer address > div {
    margin-bottom: 1rem;
}

footer > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer img{
    width: 4rem;
    height: 4rem;
}

.button{
    color: white;
    text-decoration: none;
    background-color: rgb(0, 128, 128);
    padding: .7rem;
    width: fit-content;
}

.button:hover , #statsection a:hover{
    background-color: rgb(0, 51, 102);
}


@media screen and (max-width:660px){
    html{
        font-size: 14px;
    }

    body{
        font-size: 13px;
    }

    * {
        width: auto;
    }


    header hgroup{
        font-size: 60%;
        
    }

    #intro article{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    #intro article hgroup {
        padding: 0;
        margin: 0;
        width: 90vw;
        text-align: center;
    }

    #intro article hgroup h2{
        margin-left : 0 ;
        margin-top: 2rem;
    }

    #intro article hgroup p{
        padding: 0 4rem;
    }

    #cards{
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }

    #cards>div{
        width: auto;
    }

    #agencebanner{
        text-align: center;
    }

    #agencebanner hgroup , #agencebanner hgroup p{
        padding-left: 0;
        width: auto;
        align-items: center;
    }

    #statsection{
        padding:0;
        justify-content: center;
        align-items: center;
    }

    #statsection article{
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    #statsection article div{
        width: auto;
    }

    #statsection article hgroup{
        width: auto;
        justify-content: center;
        align-items: center;
    }

    footer{
        flex-direction: column;
        padding: 1rem 0;
        text-align: center;
    }

    footer address{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width : auto
    }

    footer address > div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
    }

    footer>div{
        width: auto;
        display: flex;
        align-items: center;
    }

}

